<div class="main-container">
  <div class="content-area">

    <div class="profile-container" *ngIf="isSignedIn">
      <img [src]="profileImage" alt="Profile Image" class="profile-img">
      <span>{{ userProfile()?.name }}</span>

    </div>

    <div class="btn-area">
      <button (click)="signIn()" *ngIf="!isSignedIn()" class="sign-in-btn">Sign In with <img
          src="icons8-google-48.png"></button>
      <button (click)="signOut()" *ngIf="isSignedIn()" class="sign-in-btn">Sign Out</button>
      <button (click)="loadEvents()" *ngIf="isSignedIn()" class="sign-in-btn">Fetch Events</button>
    </div>

    <div *ngIf="isSignedIn()" class="main-area">
      <p-tabs [value]="value">
        <p-tablist>
          <p-tab [value]="0">Summaries</p-tab>
          <p-tab [value]="1">Events</p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel [value]="0">
            
            <div class="table-area">
              <table *ngIf="eventSummaries().length" class="styled-table">
                <thead>
                  <tr>
                    <th>Event Summary</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let summary of eventSummaries()">
                    <td>
                      <ul>
                        <li *ngFor="let item of summary.split('*')">
                          {{ item.trim() }}
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            
          </p-tabpanel>
          <p-tabpanel [value]="1">
            <div class="table-area">
              <table *ngIf="eventList.length" class="styled-table">
                <thead>
                  <tr>
                    <th>Events</th>
                    <th>Date & Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of eventList">
                    <td>{{ event.summary }}</td>
                    <td>{{ formatDate(event.start.dateTime || event.start.date) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </div>

  </div>
</div>